@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*
	navbar-brand : 바, 로고 정의  - 제주고딕 설정 (굵음) 
	h~ : 특정한 문단의 제목부분  - 제주고딕 설정 (굵음)
	body : 웹 문서의 기본적 내용
*/
.navbar-brand, h1, h2, h3, h4{ 
	font-family : 'Jeju Gothic';
}
h5{
	font-family : 'Jeju Gothic';
	font-size : 18px;
}
body{
	font-family : 'Nanum Gothic';
}